[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/raphvrl/cimgui.git
[submodule "lib/ode"]
	path = lib/ode
	url = https://github.com/thomasmarsh/ODE.git
