[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/raphvrl/cimgui.git
[submodule "lib/bulletCapi"]
	path = lib/bulletCAPI
	url = https://github.com/chriscamacho/bulletCapi.git
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
